<app-hero-image [imageID]="0"
                height="60vh"
                [wave]="false"
                [content]="false"
                [customImage]="bannerImage"></app-hero-image>
<div class="account-wrap">
    <div class="account">
        <div class="profile">
            <div class="profile-pic-wrap">
                <label class="profile-pic"
                       for="profile-pic">
                    <span>
                        <ng-container *ngIf="updatedImage === '' && profilePicture.length === 1">
                            {{ profilePicture }}
                        </ng-container>
                        <img class="profile-image"
                             [src]="profilePicture.length > 1 ? profilePicture : updatedImage"
                             *ngIf="updatedImage !== '' || profilePicture.length > 1" />
                    </span>
                </label>
                <input type="file"
                       (change)="updateProfilePic()"
                       class="profile-pic-input"
                       name="profile-pic"
                       id="profile-pic" />
            </div>
            <div class="profile-data-wrap">
                <div class="profile-data">
                    <h1 class="nickname">{{ nickname }}</h1>
                </div>
                <div class="profile-data">
                    <span>Email:</span> {{ email }}
                </div>
                <div class="profile-data">
                    <span>UID:</span> {{ uid }}
                </div>
            </div>
        </div>
        <div class="options">
            <div>
                <div class="button-wrap"
                     routerLink="all-posts">
                    <button>
                        View all user's posts
                    </button>
                </div>
                <div class="button-wrap"
                     *ngIf="isCurrentUser()"
                     routerLink="all-posts">
                    <button (click)="logout()">
                        Sign off
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>