@use "/src/app/global/main.scss";

.account-wrap {
  @include main.flex(center, center, column);
  @include main.setSize(100%, auto, auto, auto, auto, 100vh);
  position: relative;
  z-index: 2;
  margin-bottom: 10%;
  box-sizing: border-box;
  .userHasPosts {
    padding-top: 10%;
  }
  .arrow {
    cursor: pointer;
  }
  .arrow-right img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .account {
    @include main.flex(center, center, column);
    @include main.setSize(75%, 75%);
    .users-latest-posts {
      @include main.flex(center, center);
      @include main.setSize(100%);
      color: main.$white;
      margin: 5% 0 0 0;
      .scaled {
        transform: scale(0.7);
      }
      .post-wrap {
        @include main.setSize(30%, 15rem);
        color: main.$white;
        margin: 0 0.5%;
      }
    }
    .profile {
      @include main.flex(space-around, center);
      @include main.setSize(50%);
      color: main.$yellow;
    }
    .profile-data-wrap {
      margin-left: 8%;
    }
    .profile-data {
      @include main.flex(flex-start, flex-start);
      margin: 5% 0;
      font-size: 1.5rem;
      font-weight: 300;
      .nickname {
        font-size: 4rem;
        font-weight: bold;
      }
      span {
        font-weight: bold;
        margin-right: 25px;
      }
    }
    .profile-pic-wrap {
      border-right: 4px solid main.$yellow;
      padding-right: 8%;
    }
    .profile-pic-input {
      display: none;
    }
    .profile-image {
      @include main.setSize(100%, 100%);
      border-radius: 50%;
      object-fit: cover;
    }
    .profile-pic {
      @include main.flex(center, center);
      @include main.setSize(8rem, 8rem);
      position: relative;
      font-size: 4rem;
      border: 2px solid main.$yellow;
      border-radius: 50%;
      span,
      img {
        @include main.flex(center, center);
        @include main.setSize(100%, 100%);
        border-radius: 50%;
        opacity: 1;
        transition: opacity 0.3s;
      }
      &:hover {
        span,
        img {
          opacity: 0;
        }
        &::after {
          background-size: 50px;
          opacity: 1;
        }
      }
      &::after {
        @include main.setSize(100%, 100%);
        position: absolute;
        cursor: pointer;
        content: "";
        opacity: 0;
        transition: opacity 0.3s, background-size 0.3s;
        border-radius: 50%;
        background-image: url("/assets/images/plus.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40px;
      }
    }
    .options {
      @include main.flex(center, center);
      @include main.setSize(100%);
      color: main.$yellow;
      margin-top: 7.5%;
      .button-wrap {
        @include main.setSize(auto, auto, auto, auto, 15%);
        margin: 0 2.5%;
        display: block;
        text-align: center;
      }
      button {
        @include main.mainButton;
        @include main.setSize(100%);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .account-wrap .account {
    .users-latest-posts {
      flex-direction: column;
      .scaled {
        transform: scale(1);
      }
      .post-wrap {
        @include main.setSize(50%);
        margin-bottom: 10%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .account-wrap {
    .account {
      padding-top: 15%;
      .options {
        flex-direction: column;
        .button-wrap {
          @include main.setSize(30%);

          margin: 1% 0;
        }
      }
      .profile {
        flex-direction: column;
      }
      .profile-data {
        justify-content: center;
      }
      .profile-pic-wrap {
        border-right: none;
        padding-right: 0;
      }
      .profile-data-wrap {
        margin: 5% 0;
      }
      .users-latest-posts {
        .post-wrap {
          @include main.setSize(75%);
          margin-bottom: 15%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .account-wrap {
    .account {
      padding-top: 25%;
      .options {
        .button-wrap {
          @include main.setSize(40%);
        }
      }
      .profile-data {
        font-size: 1.3rem;
        margin: 7.5% 0;
        span {
          margin-bottom: 2%;
        }
      }
      .users-latest-posts {
        .post-wrap {
          @include main.setSize(100%);
          margin-bottom: 25%;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .account-wrap {
    .account {
      padding-top: 35%;
      .options {
        .button-wrap {
          @include main.setSize(75%);
        }
      }
      .profile-data {
        font-size: 1rem;
        flex-direction: column;
      }
      .users-latest-posts {
        .post-wrap {
          margin-bottom: 40%;
        }
      }
    }
  }
}
