<app-loading-screen *ngIf="needLoading"></app-loading-screen>
<app-hero-image [imageID]="0"
                height="60vh"
                [wave]="false"
                [content]="false"
                containerPosition="fixed"
                [customImage]="bannerImage"></app-hero-image>
<div class="account-wrap">
    <div class="account"
         [ngClass]="{'userHasPosts': userPosts.length > 0}">
        <div class="profile">
            <div class="profile-pic-wrap">
                <label class="profile-pic"
                       for="profile-pic">
                    <span>
                        <ng-container *ngIf="updatedImage === '' && profilePicture.length === 1">
                            {{ profilePicture }}
                        </ng-container>
                        <img class="profile-image"
                             [src]="profilePicture.length > 1 ? profilePicture : updatedImage"
                             *ngIf="updatedImage !== '' || profilePicture.length > 1" />
                    </span>
                </label>
                <input type="file"
                       (change)="updateProfilePic()"
                       class="profile-pic-input"
                       name="profile-pic"
                       id="profile-pic" />
            </div>
            <div class="profile-data-wrap">
                <div class="profile-data">
                    <h1 class="nickname">{{ nickname }}</h1>
                </div>
                <div class="profile-data">
                    <span>Email:</span> {{ email }}
                </div>
            </div>
        </div>
        <div class="users-latest-posts"
             *ngIf="userPosts.length > 0">
            <div class="arrow arrow-left"
                 *ngIf="userPosts.length > 2"
                 (click)="previousPost()">
                <img src="/assets/images/arrow-left.png" />
            </div>
            <div class="post-wrap"
                 *ngFor="let post of userPosts; let even = even"
                 [ngClass]="{'scaled': even && userPosts.length > 2}">
                <app-post [post]="post"></app-post>
            </div>
            <div class="arrow arrow-right"
                 *ngIf="userPosts.length > 2"
                 (click)="nextPost()">
                <img src="/assets/images/arrow-left.png" />
            </div>
        </div>
        <div class="options">

            <div class="button-wrap"
                 routerLink="all-posts">
                <button>
                    View all user's posts
                </button>
            </div>
            <div class="button-wrap"
                 *ngIf="isCurrentUser()"
                 routerLink="all-posts">
                <button (click)="logout()">
                    Sign off
                </button>
            </div>

        </div>
    </div>
</div>