@use "/src/app/global/main.scss";

:host {
  @include main.setSize(50%);
  .menu {
    @include main.flex(flex-end, center);
    @include main.setSize(85%, 100%);
    padding: 0;
    margin: 0;
    list-style: none;
    .menu-link {
      @include main.setSize(auto, auto, auto, auto, 15%);
      position: relative;
      color: main.$yellow;
      text-decoration: none;
      padding: 0.75rem 1.5rem;
      text-align: center;
      font-size: 1rem;
      margin: 0 2% 0 0;
      cursor: pointer;
      &::after {
        @include main.setSize(20%, 2px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        border-radius: 50px;
        content: "";
        background: main.$yellow;
        transition: width 0.3s;
      }
      &:hover {
        &::after {
          @include main.setSize(35%, 2px);
        }
      }
    }
  }
}

@media only screen and (max-width: 1068px) {
  .header :host {
    display: none;
  }
  :host {
    .menu {
      @include main.setSize(100%, 100%);
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .menu-link {
        @include main.mainButton;
        @include main.setSize(50%);
        display: block;
        margin: 4% 0;
        &::after {
          content: none;
        }
      }
    }
  }
}
