@use "/src/app/global/main.scss";
:host {
  width: 100%;
  // margin: 1rem;
}

.row-option {
  @include main.flex(center, center);
  background: main.$yellow;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  width: calc(100% - 1rem);
  transition: transform 0.3s;
  background-color: main.$yellow;
  border-radius: 10px;
  color: #000;
  img {
    margin-right: 10%;
  }
  &:hover {
    transform: scale(1.1);
  }
}

//**************
@media only screen and (max-width: 1400px) {
  .add-new-post-container {
    .add-new-post-form {
      :host {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .add-new-post-container {
    .add-new-post-form {
      .add-row {
        width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .add-new-post-container {
    .add-new-post-form {
      .add-row {
        width: 80%;
        .row-option {
          width: 35%;
          margin: 2.5%;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .add-new-post-container {
    .add-new-post-form {
      .add-row {
        .row-option {
          width: 75%;
        }
      }
    }
  }
}
//**************
