<div class="field-rating-container">
  <div class="field-rating-wrap">
    <div class="wrap" [ngClass]="{ 'one-wrap': !value }">
      <div class="image-wrap">
        <app-field-image [image]="image"></app-field-image>
      </div>

      <h2 class="text-field-header">
        {{ title }}
      </h2>
      <div class="rating-container">
        <app-rating [stars]="rating"></app-rating>
      </div>
    </div>
    <div class="wrap" *ngIf="value">
      <p class="field-text">
        {{ value }}
      </p>
    </div>
  </div>
</div>
