<footer class="footer-wrap">
    <div class="footer-content">
        <ul class="footer-links">
            <li routerLink="/information">Information</li>
            <li routerLink="/faq">FAQ</li>
            <li routerLink="/privacy-policy">Privacy Policy</li>
        </ul>
        <p class="footer-text">
            <span class="bold">REVICE</span> - is a social networking site that gives you complete freedom in expressing
            your opinion on any
            cultural work.
            The portal itself distinguishes four main categories - movies, series, music and games, but if your review
            does not fall into any of these categories,
            you can use the "Other" option. The portal has a simple interface, so easy access to it should not be a
            problem for any user.
            The entry you add may be labeled private or public,
            however, you must take into account that the public entry may be displayed and commented on by any user of
            the website.
        </p>
        <a href="https://github.com/devcobb">
            <div class="copyright-info">
                &copy; {{year}} Jakub Michalczyk
            </div>
        </a>
    </div>
</footer>