<a [routerLink]="post.url">
    <img class="post-thumbnail"
         [src]="post.thumbnail" />
</a>
<div class="post-information"
     [ngClass]="{
        'green-bg': post.category.toLowerCase() === 'movie',
        'red-bg': post.category.toLowerCase() === 'serial',
        'blue-bg': post.category.toLowerCase() === 'game',
        'yellow-bg': post.category.toLowerCase() === 'music'}">
    <a [routerLink]="post.url">
        <h2 class="post-title">{{post.title}}<span class="year">({{post.year}})</span></h2>
    </a>
    <span class="post-author-wrap">
        by <a [routerLink]="post.userUrl"
           class="post-author">{{post.author}}</a>
    </span>
</div>
<div class="post-rating">

    <app-rating [stars]="post.ratings"
                [editable]="false"></app-rating>
</div>