<div class="login-view-container">

    <!-- OVERLAYER -->
    <div class="login-view-overlayer"></div>
    <div class="login-view-wrap">

        <!-- LOGIN -->
        <div class="login-wrap">
            <div class="login-form">
                <h2 class="form-title"
                    [ngClass]="{ 'form-inactive-title': !loginTab }">LOGIN</h2>
                <ng-container *ngIf="!loginTab">
                    <div class="form-inactive-button-wrap">
                        <button (click)="changeTab()"
                                class="form-inactive-button">Show login form</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="loginTab">
                    <app-login-form (formData)="login($event)"></app-login-form>
                </ng-container>
            </div>
        </div>

        <!-- REGISTER -->
        <div class="register-wrap">
            <div class="register-form">
                <h2 class="form-title"
                    [ngClass]="{ 'form-inactive-title': loginTab }">REGISTER</h2>
                <ng-container *ngIf="loginTab">
                    <div class="form-inactive-button-wrap">
                        <button (click)="changeTab()"
                                class="form-inactive-button">Show register form</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="!loginTab">
                    <app-register-form (formData)="register($event)"></app-register-form>
                </ng-container>
            </div>
        </div>
    </div>
</div>