<div class="login-view-container">
    <div class="login-view-wrap">
        <div class="login-wrap">
            <div class="login-form">
                <h2 class="form-title">
                    <span class="change-tab active"
                          (click)="changeTab(true)">
                        Sign in
                        <span class="arrow"
                              *ngIf="!loginTab">
                            <img src="/assets/images/arrow-right.png" />
                        </span>
                    </span>
                    <span class="change-tab inactive"
                          (click)="changeTab(false)">
                        Sign up
                        <span class="arrow"
                              *ngIf="loginTab">
                            <img src="/assets/images/arrow-right.png" />
                        </span>
                    </span>
                </h2>

                <!-- LOGIN -->
                <ng-container *ngIf="loginTab">
                    <app-login-form (formData)="login($event)"></app-login-form>
                </ng-container>

                <!-- REGISTER -->
                <ng-container *ngIf="!loginTab">
                    <app-register-form (formData)="register($event)"></app-register-form>
                </ng-container>

                <div class="error-message"
                     *ngIf="errorMessage.length > 1">
                    {{ showErrorMessage() }}
                </div>
            </div>
        </div>
    </div>
</div>