<div class="choose-category-wrap"
     (click)="toggle()">
    <div class="choose-category choose-category-closed">
        <span class="choosed-category">
            Category:
            <span class="smaller-font">{{ category[0].toUpperCase() + category.slice(1) }}</span>
        </span>
        <img class="arrow arrow-down"
             src="/assets/images/arrow-down.png" />
    </div>
    <ul class="list close">
        <li (click)="updateCategory($event.target)">Movie</li>
        <li (click)="updateCategory($event.target)">Serial</li>
        <li (click)="updateCategory($event.target)">Game</li>
        <li (click)="updateCategory($event.target)">Music</li>
    </ul>
</div>