<form class="form register-form form-overlayer"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
        <mat-label>Email address</mat-label>
        <input matInput
               formControlName="email"
               class="mail-input"
               placeholder="Type your email"
               type="email"
               required />
        <mat-error *ngIf="email?.hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
            Email isn't valid. Please enter a valid email.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               class="password-input"
               placeholder="Type your passsword"
               type="password"
               required />
        <mat-error *ngIf="password?.hasError('required')">
            Password is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Name</mat-label>
        <input matInput
               class="name-input"
               formControlName="name"
               placeholder="Type your name"
               type="text"
               required />
        <mat-error *ngIf="name?.hasError('required')">
            Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Surname</mat-label>
        <input matInput
               class="surname-input"
               formControlName="surname"
               placeholder="Type your surname"
               type="text"
               required />
        <mat-error *ngIf="surname?.hasError('required')">
            Surname is required
        </mat-error>
    </mat-form-field>
    <mat-radio-group class="mat-radio-group"
                     aria-labelledby="gender">
        <mat-label>Gender</mat-label>
        <mat-radio-button value="man"
                          class="mat-radio-button md-primary">Man</mat-radio-button>
        <mat-radio-button class="mat-radio-button"
                          value="woman">Woman</mat-radio-button>
        <mat-radio-button class="mat-radio-button"
                          value="other">Other</mat-radio-button>
    </mat-radio-group>
    <div class="form-footer">
        <button [disabled]="form.invalid"
                mat-raised-button
                type="submit">
            Register
        </button>
    </div>
</form>