@use "/src/app/global/main.scss";

@mixin icon {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;
}

.add-new-post-container {
    width: 100%;
    min-height: 100%;
    padding-top: 10rem;
    .form-bg {
        padding-top: 2.5%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .add-new-post-form {
        @include main.flex(center, center, column);
        @include main.fullSize;
        position: relative;
        z-index: 3;
        .post-basic-information {
            @include main.flex(center, flex-start);
            width: 40%;
            margin-bottom: 1%;
        }
        .post-visiblity-wrap {
            @include main.flex(center, center, column);
            color: main.$yellow;
            width: 100%;
            margin-bottom: 2.5%;
        }
        .input-switch-wrap {
            @include main.flex(center, center);
            width: 100%;
            transition: opacity 0.5s;
            .input-switch-mode {
                text-transform: uppercase;
                margin: 0 10px;
                font-weight: bold;
            }
            .enabled {
                opacity: 1;
            }
            .disabled {
                opacity: 0.4;
            }
        }
        .input-switch {
            @include main.flex(center, center);
            display: block;
            width: 3.5%;
            height: 2rem;
            background-color: main.$dark_grey;
            border-radius: 50px;
            cursor: pointer;
            input {
                appearance: none;
                display: block;
                width: 50%;
                height: 1.6rem;
                background-color: main.$yellow;
                border-radius: 50px;
                transition: transform 0.3s, background-color 0.3s;
                animation-timing-function: cubic-bezier(1, 0, 1, 1);
                will-change: transform;
                cursor: pointer;
                &:checked {
                    transform: translateX(77.5%);
                }
            }
        }
        .post-input {
            font-size: 1rem;
            border: none;
            outline: none;
            width: 70%;
            padding: 1rem;
            color: main.$yellow;
            border: 1px solid main.$yellow;
            background-color: transparent;
            border-radius: 50px 0 0 50px;
            &::placeholder {
                color: main.$yellow;
            }
        }
        .thumbnail {
            @include main.flex(center, center);
            width: 40%;
            height: 10rem;
            margin-bottom: 2.5%;
        }
        .field-wrap {
            position: relative;
        }
        .image-field {
            height: 10rem;
        }
        .close {
            @include icon;
            top: 0%;
            right: -8%;
            background-image: url("/assets/images/close.png");
        }
        .arrangement {
            @include icon;
            top: 0%;
            right: -13.5%;
            background-image: url("/assets/images/arrangement.png");
        }
        .section-title {
            background-color: main.$dark_grey;
            width: 100%;
            margin-bottom: 1%;
            padding: 1rem;
            border: none;
            outline: none;
            font-size: 1rem;
            color: main.$white;
            box-sizing: border-box;
        }
        .text-section {
            position: relative;
            padding: 1rem;
            font-size: 1rem;
            width: 100%;
            height: 10rem;
            background: main.$dark_grey;
            outline: none;
            resize: none;
            box-sizing: border-box;
            color: main.$white;
            border: 1px solid main.$dark_grey;
        }
        .image-section {
            height: 10rem;
        }
        .banner-wrap {
            @include main.flex(space-between, center);
            .text-section,
            .section-title {
                @include main.flex(center, center, column);
                width: 100%;
                font-size: 0.75rem;
            }
            .image-section {
                height: 100%;
            }
            .banner-text-content,
            .image-section {
                width: 48.75%;
                height: 13rem;
            }
        }
        .banner-reverse {
            flex-direction: row-reverse;
        }
        .add-row {
            @include main.flex(center, center);
            flex-wrap: wrap;
            margin: 2.5% 0 2.5% 0;
            width: 33.33%;
            color: main.$yellow;
            .row-option {
                @include main.flex(center, center);
                cursor: pointer;
                padding: 1rem;
                text-align: center;
                width: 25%;
                transition: all 0.3s;
                margin: 1%;
                border: 1px solid main.$yellow;
                img {
                    margin-right: 7%;
                }
                &:hover {
                    color: #000;
                    background: main.$yellow;
                    img {
                        filter: brightness(0);
                    }
                }
            }
        }
        .field-container {
            width: 40%;
            margin-bottom: 1%;
        }
        .submit-container {
            @include main.flex(center, center, column);
            width: 70%;
            text-align: center;
            margin-bottom: 5%;
            .submit-btn {
                @include main.contrastButton;
                font-weight: normal;
                width: 15%;
                &:disabled {
                    &:hover {
                        background-color: main.$purple;
                    }
                    opacity: 0.4;
                }
            }
            .preview-btn {
                @include main.contrastButton;
                margin-top: 1rem;
                font-weight: normal;
                width: 15%;
                transition: opacity 0.3s;
                &:disabled {
                    &:hover {
                        background-color: main.$purple;
                    }
                    opacity: 0.3;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .add-new-post-container {
        .add-new-post-form {
            .arrangement {
                right: -8%;
                top: 25%;
            }
            .add-row {
                flex-direction: column;
                width: 100%;
                .row-option {
                    width: 20%;
                    margin: 1% 0;
                }
            }
            .post-basic-information {
                flex-direction: column;
                width: 40%;
                margin-bottom: 5%;
                .post-title {
                    width: 100%;
                    margin-bottom: 5%;
                    box-sizing: border-box;
                }
                .post-input {
                    border-radius: 50px;
                }
            }
            .submit-container {
                .submit-btn,
                .preview-btn {
                    width: 25%;
                }
            }
            .input-switch {
                width: 4.5%;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .add-new-post-container {
        .add-new-post-form {
            .thumbnail {
                width: 75%;
                height: 10rem;
            }
            .close {
                right: -13.5%;
            }
            .arrangement {
                right: -13.5%;
                top: 25%;
            }
            .add-row {
                .row-option {
                    width: 35%;
                    margin: 2.5% 0;
                }
            }
            .field-container {
                margin-bottom: 5%;
                width: 75%;
            }
            .post-input {
                border-radius: 50px;
            }
            .submit-container {
                width: 100%;
                margin-bottom: 20%;
            }
            .input-switch {
                width: 6%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .add-new-post-container {
        .add-new-post-form {
            .post-basic-information {
                width: 65%;
            }
            .submit-container {
                .submit-btn,
                .preview-btn {
                    width: 35%;
                }
            }
            .input-switch {
                width: 8%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .add-new-post-container {
        .add-new-post-form {
            .post-basic-information {
                width: 75%;
            }
            .input-switch {
                width: 12.5%;
            }
        }
    }
}

@media only screen and (max-width: 414px) {
    .add-new-post-container {
        .add-new-post-form {
            .add-row {
                .row-option {
                    width: 75%;
                }
            }
            .submit-container {
                .submit-btn,
                .preview-btn {
                    width: 50%;
                }
            }
            .input-switch {
                width: 15%;
            }
        }
    }
}
