<div class="add-new-post-container">
    <div class="form-bg"></div>
    <form class="add-new-post-form"
          (submit)="addNewPost($event)">
        <div class="ratings-wrap">
            <app-rating [stars]="stars"
                        [editable]="true"></app-rating>
        </div>
        <app-upload-image class="thumbnail"
                          (imageUploaded)="updateThumbnail($event)"></app-upload-image>
        <div class="post-basic-information">
            <input type="text"
                   (change)="updateTitle($event.target.value)"
                   (keydown)="updateTitle($event.target.value)"
                   name="post-title"
                   class="post-input post-title"
                   placeholder="Post Title"
                   minlength="5"
                   maxlength="50"
                   required />
            <app-choose-category (changeCategory)="updateCategory($event)"
                                 [category]="choosedCategory"></app-choose-category>
        </div>
        <div class="post-visiblity-wrap">
            <div class="input-switch-wrap">
                <span class="input-switch-mode enabled">Public</span>
                <label (change)="updatePostVisibility($event.target)"
                       class="input-switch">
                    <input id="post-visibility"
                           type="checkbox" />
                </label>
                <span class="input-switch-mode disabled">Private</span>
            </div>
        </div>
        <div class="field-container"
             *ngFor="let field of fields">
            <!-- TEXT -->
            <div class="field-wrap"
                 *ngIf="field.type === 'text'">
                <input type="text"
                       minlength="5"
                       maxlength="50"
                       placeholder="Add title of text section"
                       (change)="updateField(field.id, 'title', $event.target.value)"
                       class="section-title" />
                <textarea class="text-section"
                          (change)="updateField(field.id, 'value', $event.target.value)"
                          [value]="field.value"
                          minlength="10"
                          maxlength="550"
                          placeholder="Add your text here*"></textarea>
                <span class="close"
                      [attr.data-id]="field.id"
                      (click)="removeElement(field.id)"></span>
            </div>

            <!-- IMAGE -->
            <div class="field-wrap image-field"
                 *ngIf="field.type === 'image'">
                <app-upload-image [id]="field.id + 1"
                                  (imageUploaded)="updateField(field.id, 'src', $event)"
                                  class="image-section"></app-upload-image>
                <span class="close"
                      [attr.data-id]="field.id"
                      (click)="removeElement(field.id)"></span>
            </div>

            <!-- BANNER -->
            <div class="field-wrap banner-wrap"
                 *ngIf="field.type === 'banner'"
                 [ngClass]="{'banner-reverse': field.arrangement === 'text-image'}">
                <app-upload-image [id]="field.id + 1"
                                  (imageUploaded)="updateField(field.id, 'src', $event)"
                                  class="image-section"></app-upload-image>
                <div class="banner-text-content">
                    <input type="text"
                           minlength="5"
                           maxlength="50"
                           placeholder="Add title of text section"
                           (change)="updateField(field.id, 'title', $event.target.value)"
                           class="section-title" />
                    <textarea class="text-section"
                              minlength="10"
                              maxlength="550"
                              [value]="field.value"
                              (change)="updateField(field.id, 'value', $event.target.value)"
                              placeholder="Add your text here*"></textarea>
                </div>

                <span class="close"
                      [attr.data-id]="field.id"
                      (click)="removeElement(field.id)"></span>
                <span class="arrangement"
                      [attr.data-id]="field.id"
                      (click)="changeArrangement(field.id)"></span>
            </div>
        </div>
        <div class="add-row">
            <div class="row-option"
                 (click)="addField('text')">
                <img src="/assets/images/text.png" />
                Add Text
            </div>
            <div class="row-option"
                 (click)="addField('image')">
                <img src="/assets/images/image.png" />
                Add Image
            </div>
            <div class="row-option"
                 (click)="addField('banner')">
                <img src="/assets/images/banner.png" />
                Add Banner
            </div>
        </div>
        <div class="submit-container">
            <input class="submit-btn"
                   value="Add post"
                   [disabled]="addPostButtonDisabled"
                   type="submit" />
            <button class="preview-btn"
                    [disabled]="previewPostButtonDisabled"
                    (click)="previewToggle($event)">Preview post</button>
            <div class="error-wrap">
                <app-error-messages></app-error-messages>
            </div>
        </div>
    </form>
</div>