<div class="add-new-post-container">

  <!-- FORM -->
  <form class="add-new-post-form"
        (submit)="addNewPost($event)">

    <!-- RATINGS -->
    <div class="ratings-wrap">
      <app-rating [stars]="stars"
                  [editable]="true"></app-rating>
    </div>

    <!-- THUMBNAIL -->
    <app-upload-image class="thumbnail"
                      (imageUploaded)="updateThumbnail($event)"></app-upload-image>

    <!-- TITLE, CATEGORY -->
    <div class="post-basic-information">
      <input type="text"
             (change)="updateTitle($event.target.value)"
             (keydown)="updateTitle($event.target.value)"
             name="post-title"
             class="post-input post-title"
             placeholder="Post Title"
             minlength="5"
             maxlength="50"
             required />
      <app-choose-category (changeCategory)="updateCategory($event)"
                           [category]="choosedCategory"></app-choose-category>
    </div>

    <!-- POST DATE AND VISIBILITY -->
    <div class="post-info-wrap">
      <div class="choose-year-wrap">
        <app-choose-year></app-choose-year>
      </div>
      <div class="post-visiblity-wrap">
        <div class="input-switch-wrap">
          <span class="input-switch-mode enabled">Public</span>
          <label (change)="updatePostVisibility($event.target)"
                 class="input-switch">
            <input id="post-visibility"
                   type="checkbox" />
          </label>
          <span class="input-switch-mode disabled">Private</span>
        </div>
      </div>
    </div>

    <!-- FIELDS -->
    <div class="field-container"
         *ngFor="let field of fields">

      <!-- TEXT -->
      <ng-container *ngIf="field.type === 'text'">
        <app-add-new-text-field (changedData)="updateField($event)"
                                (fieldRemoved)="removeElement($event)"
                                [data]="field"></app-add-new-text-field>
      </ng-container>

      <!-- IMAGE -->
      <ng-container *ngIf="field.type === 'image'">
        <app-add-new-image-field (changedData)="updateField($event)"
                                 (fieldRemoved)="removeElement($event)"
                                 [data]="field"></app-add-new-image-field>
      </ng-container>

      <!-- HEADING -->
      <ng-container *ngIf="field.type === 'heading'">
        <app-add-new-heading-field (changedData)="updateField($event)"
                                   (fieldRemoved)="removeElement($event)"
                                   [data]="field"></app-add-new-heading-field>
      </ng-container>

      <!-- BANNER -->
      <ng-container *ngIf="field.type === 'banner'">
        <app-add-new-banner-field (changedData)="updateField($event)"
                                  (fieldRemoved)="removeElement($event)"
                                  (changedArrangement)="changeArrangement($event)"
                                  [data]="field"></app-add-new-banner-field>
      </ng-container>

      <!-- RATING -->
      <ng-container *ngIf="field.type === 'rating'">
        <app-add-new-rating-field (changedData)="updateField($event)"
                                  (fieldRemoved)="removeElement($event)"
                                  (changedArrangement)="changeArrangement($event)"
                                  [data]="field"></app-add-new-rating-field>
      </ng-container>

      <!-- GALLERY -->
      <ng-container *ngIf="field.type === 'gallery'">
        <app-add-new-gallery-field (changedData)="update($event)"
                                   (fieldRemoved)="removeElement($event)"
                                   (changedArrangement)="changeArrangement($event)"
                                   (changedType)="updateGalleryType($event)"
                                   [data]="field"></app-add-new-gallery-field>
      </ng-container>
    </div>
    <div class="add-row">

      <!-- HEADING BUTTON -->
      <app-add-field-button [key]="'heading'"
                            [text]="'Add Heading'"
                            [img]="'heading'"
                            (added)="addField($event)"></app-add-field-button>

      <!-- TEXT BUTTON -->
      <app-add-field-button [key]="'text'"
                            [text]="'Add Text'"
                            [img]="'text'"
                            (added)="addField($event)"></app-add-field-button>

      <!-- IMAGE BUTTON -->
      <app-add-field-button [key]="'image'"
                            [text]="'Add Image'"
                            [img]="'image'"
                            (added)="addField($event)"></app-add-field-button>


      <!-- BANNER BUTTON -->
      <app-add-field-button [key]="'banner'"
                            [text]="'Add Banner'"
                            [img]="'banner'"
                            (added)="addField($event)"></app-add-field-button>

      <!-- RATING BUTTON -->
      <app-add-field-button [key]="'rating'"
                            [text]="'Add Rating'"
                            [img]="'star-black'"
                            (added)="addField($event)"></app-add-field-button>

      <!-- GALLERY BUTTON -->
      <app-add-field-button [key]="'gallery'"
                            [text]="'Add Gallery'"
                            [img]="'gallery'"
                            (added)="addField($event)"></app-add-field-button>
    </div>
    <div class="submit-container">
      <div class="btn-wrap">
        <input class="submit-btn"
               value="Add post"
               [disabled]="addPostButtonDisabled"
               type="submit" />
        <button class="preview-btn"
                [disabled]="previewPostButtonDisabled"
                (click)="previewToggle($event)">
          Preview post
        </button>
      </div>

      <div class="error-wrap">
        <app-error-messages></app-error-messages>
      </div>
    </div>
  </form>
</div>