@use "/src/app/global/main.scss";

.add-new-post-container {
  @include main.setSize(100%, auto, auto, auto, auto, 100%);
  padding-top: 10rem;
  .form-bg {
    @include main.setSize(100vw, 100vh);
    padding-top: 2.5%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .add-new-post-form {
    @include main.flex(center, center, column);
    @include main.setSize(100%, 100%);
    position: relative;
    z-index: 3;
    .ratings-wrap {
      @include main.setSize(45%);
      margin-bottom: 1%;
      ::ng-deep {
        .post-rating-wrap {
          justify-content: space-around;
        }
      }
    }
    .post-basic-information {
      @include main.flex(center, center);
      @include main.setSize(45%);
      margin-bottom: 1%;
      .post-title {
        box-sizing: border-box;
      }
    }
    .post-info-wrap {
      @include main.flex(center, center, column);
      @include main.setSize(40%);
      flex-wrap: wrap;
      .choose-year-wrap {
        @include main.setSize(75%);
        margin-bottom: 1%;
      }
    }
    .post-visiblity-wrap {
      @include main.flex(center, center, column);
      @include main.setSize(25%);
      color: main.$yellow;
    }
    .input-switch-wrap {
      @include main.flex(center, center);
      @include main.setSize(100%);
      transition: opacity 0.5s;
      .input-switch-mode {
        text-transform: uppercase;
        font-weight: bold;
        &:first-of-type {
          margin: 0 10px 0 0;
        }
        &:last-of-type {
          margin: 0 0 0 10px;
        }
      }
      .enabled {
        opacity: 1;
      }
      .disabled {
        opacity: 0.4;
      }
    }
    .input-switch {
      @include main.flex(center, center);
      @include main.setSize(3.5rem, 2rem);
      display: block;
      border: 1px solid main.$yellow;
      border-radius: 50px;
      cursor: pointer;
      input {
        @include main.setSize(50%, 1.6rem);
        appearance: none;
        display: block;
        background-color: main.$yellow;
        border-radius: 50px;
        transition: transform 0.3s, background-color 0.3s;
        animation-timing-function: cubic-bezier(1, 0, 1, 1);
        will-change: transform;
        cursor: pointer;
        &:checked {
          transform: translateX(77.5%);
        }
      }
    }
    .thumbnail-wrap {
      @include main.flex(space-between, center);
      @include main.setSize(45%, 12.5rem);
      margin-bottom: 1%;
    }
    .thumbnail {
      @include main.setSize(70%, 100%);
    }
    .add-row {
      @include main.flex(space-between, center);
      @include main.setSize(45%);
      flex-wrap: wrap;
      margin: 2.5% 0 2.5% 0;
      color: main.$yellow;
      .add-field-btn {
        @include main.setSize(28%);
        margin: 1rem;
      }
    }
    .field-container {
      @include main.setSize(40%);
      margin-bottom: 1%;
    }
    .submit-container {
      @include main.flex(center, center, column);
      @include main.setSize(70%);
      text-align: center;
      margin-bottom: 5%;
      .btn-wrap {
        @include main.flex(center, center);
        @include main.setSize(50%);
      }
      .error-wrap {
        @include main.setSize(65%);
        margin-top: 4%;
      }
      .submit-btn {
        @include main.contrastButton;
        @include main.setSize(auto, auto, auto, auto, 25%);
        font-weight: normal;
        margin-right: 1%;
        &:disabled {
          &:hover {
            background-color: main.$purple;
          }
          cursor: default;
          opacity: 0.4;
        }
      }
      .preview-btn {
        @include main.contrastButton;
        @include main.setSize(auto, auto, auto, auto, 25%);
        font-weight: normal;
        margin-left: 1%;
        transition: opacity 0.3s;
        &:disabled {
          &:hover {
            background-color: main.$purple;
          }
          cursor: default;
          opacity: 0.3;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}

//*************
@media only screen and (max-width: 1400px) {
  .add-new-post-container {
    .add-new-post-form {
      .thumbnail-wrap {
        @include main.setSize(50%, 15rem, none, none, none, none);
        flex-direction: column-reverse;
      }
      .thumbnail {
        @include main.setSize(100%, 100%);
      }
      .post-info-wrap {
        @include main.setSize(50%);
      }
      .post-visiblity-wrap {
        @include main.setSize(100%);
        margin: 2.5% 0;
      }
      .add-row {
        @include main.setSize(60%);
      }
      .ratings-wrap {
        @include main.setSize(50%);
        margin-bottom: 0;
      }
      .post-basic-information {
        @include main.setSize(50%);
        .post-title {
          @include main.setSize(70%);
          box-sizing: border-box;
        }
      }
      .submit-container {
        .submit-btn,
        .preview-btn {
          @include main.setSize(auto, auto, auto, auto, 25%);
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .add-new-post-container {
    .add-new-post-form {
      .field-container {
        @include main.setSize(60%);
      }
      .post-info-wrap {
        .choose-year-wrap {
          ::ng-deep {
            .filter-year-wrap {
              flex-direction: column;
            }
            .range-slider,
            .specific-year-wrap {
              @include main.setSize(75%);
            }
            .specific-year-wrap {
              margin-top: 2.5%;
            }
            .seperator {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .add-new-post-container {
    .add-new-post-form {
      .post-basic-information,
      .ratings-wrap {
        @include main.setSize(75%);
      }
      .thumbnail-wrap {
        @include main.setSize(75%, 15rem);
      }
      .post-info-wrap {
        @include main.setSize(55%);
        margin-top: 2.5%;
      }
      .add-row {
        @include main.setSize(90%);
      }
      .submit-container {
        @include main.setSize(100%);
        margin-bottom: 20%;
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  .add-new-post-form .post-info-wrap {
    @include main.setSize(50%);
  }
}

@media only screen and (max-width: 768px) {
  .add-new-post-container {
    .add-new-post-form {
      .post-basic-information {
        @include main.setSize(75%);
        .post-title {
          @include main.setSize(60%);
        }
        app-choose-category {
          @include main.setSize(40%);
        }
      }
      .ratings-wrap {
        margin-bottom: 2%;
      }
      .post-info-wrap {
        @include main.setSize(65%);
      }
      .add-row {
        justify-content: center;
      }
      .submit-container {
        .submit-btn,
        .preview-btn {
          @include main.setSize(auto, auto, auto, auto, 35%);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .add-new-post-container {
    .add-new-post-form {
      .post-info-wrap {
        @include main.setSize(75%);
      }
      .add-row {
        flex-direction: column;
        .add-field-btn {
          @include main.setSize(50%);
          margin: 1rem 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .add-new-post-container {
    .add-new-post-form {
      .post-info-wrap {
        @include main.setSize(100%);
      }
      .submit-container .btn-wrap {
        @include main.setSize(95%);
      }
      .ratings-wrap {
        margin-bottom: 4%;
      }
      .field-container {
        @include main.setSize(75%);
      }
      .post-basic-information {
        @include main.setSize(75%);
        .post-input {
          @include main.setSize(100%);
          margin-top: 2%;
          border-radius: 50px;
        }
        app-choose-category {
          @include main.setSize(60%);
          margin: 4% 0;
          border-radius: 50px;
        }
        ::ng-deep {
          .choose-category-closed {
            border-radius: 50px;
          }
          .choose-category-open {
            border-radius: 25px 25px 0 0;
          }
        }
        flex-direction: column;
        @include main.setSize(75%);
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .add-new-post-container {
    .add-new-post-form {
      .input-switch-wrap {
        @include main.setSize();
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .add-new-post-container {
    .add-new-post-form {
      .submit-container {
        .submit-btn,
        .preview-btn {
          @include main.setSize(auto, auto, auto, auto, 50%);
        }
      }
    }
  }
}
//****************
