@use "/src/app/global/main.scss";
.field-banner {
  @include main.flex(space-between, center);
  .wrap {
    @include main.setSize(48%);
  }
  &.reverse-banner {
    flex-direction: row-reverse;
  }
  ::ng-deep {
    .field-text,
    .field-image {
      @include main.setSize(100%);
    }
    .text-field-header {
      line-height: 3rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  .field-banner {
    @include main.flex(center, center, column);
    .wrap {
      width: 100%;
    }
  }
}
