<div class="upload-image-container">
    <label [attr.for]="'upload-image-' + id"
           class="upload-image">
        <div class="bottom-bar">
            <img src="assets/images/upload.png" />
            <span>
                <span class="bold">up</span>load
            </span>
        </div>
        <div class="label-overlayer">
            Click to upload an image
        </div>
    </label>
    <input [attr.id]="'upload-image-' + id"
           (change)="uploadImage($event)"
           type="file" />
</div>