@use '/src/app/global/main.scss';

.upload-image-container{
    @include main.fullSize;
    input[type="file"] {
        display: none;
    }
    .upload-image{
        @include main.flex(center, center, column);
        @include main.fullSize;
        position: relative;
        color: main.$yellow;
        font-family: Roboto, sans-serif;
        border: 1px dashed main.$yellow;
        outline-offset: 5px;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(main.$white, 0.1);
        cursor: pointer;
        .uploaded-image-overlayer{
            @include main.fullSize;
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
        }
        .upload-image-text{
            text-align: center
        }
        .upload-image-text-wrap{
            @include main.flex(center, center, column);
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                margin-bottom: 15%;
            }
        }
    }
}

@media only screen and (max-width: 1200px){
    .upload-image-container{
        .upload-image{
            .upload-image-text{
                display: none;
            }
        }
    }
}