@use "/src/app/global/main.scss";

.tags-wrap {
  @include main.flex(flex-start, center);
  flex-wrap: wrap;
  margin-top: 5%;
  .no-margin {
    padding-right: 0;
  }
}

.tags-input {
  border-radius: 50px;
  font-size: 0.8rem;
  padding: 0.7rem 1rem;
  width: 85%;
  &::placeholder {
    text-align: center;
  }
}

.no-tags-added {
  @extend .font-1;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  color: main.$yellow;
}
