@use '/src/app/global/main.scss';

:host{
    width: 100%;
    min-height: 100vh;
}

.posts-list-wrap{
    @include main.flex(center, center);
    @include main.darkBackground();
    width: 100%;
    min-height: 100vh;
    .posts-list{
        @include main.flex(flex-start, center, column);
        width: 100%;
        min-height: calc(100vh - 10rem);
        padding-top: 10rem;
        .category-header{
            @include main.flex(center, center);
            width: 100%;
            color: main.$yellow;
            font-size: 3.5rem;
            margin-bottom: 5%;
            text-align: center;
            font-family: "Agency FB Bold Condensed", sans-serif;
            &::after, &::before{
                content: "";
                display: block;
                width: 10%;
                margin: 0 2.5%;
                height: 4px;
                background-color: main.$yellow;
            }
            &::before{
                border-radius: 50px 0 0 50px
            }
            &::after{
                border-radius: 0 50px 50px 0;
            }
        }
        .post-wrap{
            width: 30%;
            height: 15rem;
            color: main.$yellow;
            .post-thumbnail{
                width: 100%;
                height: 75%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .post-information{
                background-color: main.$purple;
                padding: .5rem 1rem;
            }
            .post-title{
                font-weight: light;
            }
        }
    }
}