<app-loading-screen *ngIf="needLoading"></app-loading-screen>
<app-hero-image height="60vh"
                [wave]="true"
                imageID="3"
                [content]="false"
                containerPosition="fixed"></app-hero-image>
<div class="posts-list-wrap">
    <div class="posts-list">
        <h1 class="category-header">
            Latest posts
            <span class="subtitle">of every users</span>
        </h1>
        <div class="post-wrap"
             *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </div>
    </div>
</div>