<div class="field-wrap banner-wrap"
     [ngClass]="{ 'field-reverse': data.arrangement === 'text-image' }">

      <!-- BANNER IMAGE -->
      <app-upload-image [id]="data.id + 1"
                        (imageUploaded)="update('src', $event)"
                        class="image-section"></app-upload-image>
      <div class="banner-text-content">

            <!-- BANNER TITLE -->
            <input type="text"
                   minlength="5"
                   maxlength="50"
                   placeholder="Add title of text section"
                   (change)="update('title', $event.target.value)"
                   class="section-title" />

            <!-- BANNER TEXT-->
            <textarea class="text-section"
                      minlength="10"
                      maxlength="550"
                      [value]="data.value"
                      (change)="update('value', $event.target.value)"
                      placeholder="Add your text here*"></textarea>
      </div>
      <!-- CLOSE BUTTON -->
      <span class="close"
            (click)="remove()"></span>

      <!-- ARRANGEMENT BUTTON -->
      <span class="arrangement"
            (click)="arrangement()"></span>
</div>