@use "/src/app/global/main.scss";

@mixin galleryFourImageWrap {
  .gallery-image-wrap {
    &:nth-child(1) {
      padding-right: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &:nth-child(2) {
      padding-left: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &:nth-child(3) {
      padding-top: 0.25rem;
      padding-right: 0.25rem;
    }
    &:nth-child(4) {
      padding-top: 0.25rem;
      padding-left: 0.25rem;
    }
  }
}

@mixin icon {
  @include main.setSize(24px, 24px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  cursor: pointer;
}

.field-wrap {
  position: relative;
}

.image-field,
.image-section {
  @include main.setSize(100%, 10rem);
}

.close {
  @include icon;
  top: 0%;
  right: -8%;
  background-image: url("/assets/images/close.png");
}

.section-title {
  @include main.setSize(100%);
  @extend .post-input;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-section {
  @extend .font-1;
  @extend .post-input;
  @include main.setSize(100%, 10rem);
  border-radius: 3px;
  padding: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  resize: none;
  box-sizing: border-box;
}

.banner-wrap {
  @include main.flex(space-between, center);
  .text-section {
    @include main.setSize(auto, 9.5rem);
  }
  .section-title {
    @include main.flex(center, center, column);
    @include main.setSize(100%);
    font-size: 0.75rem;
  }
  .text-section {
    @extend .section-title;
    //FULL WIDTH - 2REM PADDING OF TITLE AND 1REM OF TEXTSECTION PADDING + 0.5REM OF TEXTSECTION'S MARGIN
    @include main.setSize(100%, calc(100% - 3.5rem));
  }
  .image-section {
    @include main.setSize(auto, 100%);
  }
  .banner-text-content,
  .image-section {
    @include main.setSize(48.75%, 13rem);
  }
}

.field-reverse {
  flex-direction: row-reverse !important;
}

.arrangement {
  @include icon;
  top: 0%;
  right: -13.5%;
  background-image: url("/assets/images/arrangement.png");
}

.field-rating-wrap {
  @include main.flex(space-between, flex-start);
  @include main.setSize(100%);
  .field-rating-container {
    @include main.setSize(49%, auto, auto, auto, auto, 20rem);
  }
  .rating-description-wrap {
    @include main.setSize(49%, 20rem, auto, auto, auto, auto);
    .text-section {
      @extend .font-1;
      @include main.setSize(100%, calc(100% - 5rem));
      font-size: 0.8rem;
      margin-top: 0.5rem;
      box-sizing: border-box;
    }
    .section-title {
      @include main.flex(center, center, column);
      @include main.setSize(100%);
      font-size: 0.75rem;
    }
  }
  .rating-image {
    @include main.setSize(auto, 15.5rem);
  }
  .rating-wrap {
    @include main.setSize(auto, 3rem);
    &.mobile {
      @include main.setSize(auto, auto, 100%);
      display: none;
    }
    ::ng-deep {
      .post-rating-wrap {
        margin-bottom: 0;
      }
    }
  }
}

.field-container {
  margin-bottom: 5%;
  .field-rating-container,
  .rating-title,
  .rating-description-wrap {
    @include main.setSize(100%);
  }
  .rating-wrap.desktop {
    display: none;
  }
  .rating-wrap.mobile {
    display: block;
  }
}

.gallery-wrap {
  @include main.setSize(auto, 30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  .gallery-image-wrap {
    @include main.setSize(100%, 100%);
  }
  .wrap {
    @include main.flex(center, center);
    @include main.setSize(50%, 100%);
    flex-wrap: wrap;
  }
  .four-images {
    .gallery-image-wrap {
      @include main.setSize(50%, 50%);
    }
  }
}

.four-images-wrap {
  flex-wrap: wrap;
  .gallery-image-wrap {
    width: 50% !important;
    height: 50% !important;
  }
}

.four-images-wrap {
  @include galleryFourImageWrap();
}

.one-big-four-wrap {
  .wrap:first-of-type {
    .gallery-image-wrap {
      padding-right: 0.5rem;
    }
  }
  .wrap:last-of-type {
    @include galleryFourImageWrap();
  }
}

.gallery-image-wrap {
  box-sizing: border-box;
}

.grid {
  @include icon;
  top: 0%;
  right: -19%;
  background-image: url("/assets/images/grid.png");
}

//**********************
@media only screen and (max-width: 1400px) {
  .add-new-post-container {
    .add-new-post-form {
      .field-rating-wrap .arrangement {
        top: 10%;
      }
      .field-gallery-wrap .arrangement {
        top: 10%;
      }
      .ratings-wrap {
        @include main.setSize(50%);
      }
    }
  }
  .close {
    right: -15%;
  }
  .arrangement {
    right: -15%;
    top: 20%;
  }
  .grid {
    right: -15%;
    top: 15%;
  }
  .field-rating-wrap {
    .arrangement {
      top: 12%;
    }
  }
  .field-gallery-wrap {
    .grid {
      top: 16%;
    }
    .arrangement {
      top: 8%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .add-new-post-container {
    .add-new-post-form {
      .field-rating-wrap .arrangement {
        top: 5%;
      }
      .one-big-four-wrap {
        .wrap:first-of-type {
          margin-bottom: 0.5rem;
          .gallery-image-wrap {
            padding-right: 0 !important;
          }
        }
      }
      .one-big-four-wrap.gallery-wrap {
        flex-direction: column;
        .wrap {
          @include main.setSize(100%);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .close {
    right: -8%;
  }
  .arrangement {
    right: -8%;
  }
  .grid {
    right: -8%;
  }
}

@media only screen and (max-width: 500px) {
  .close {
    right: -10%;
  }
  .arrangement {
    right: -10%;
  }
  .grid {
    right: -10%;
  }
}
//*************************
