@use "/src/app/global/main.scss";

@mixin galleryFourImageWrap {
  .gallery-image-wrap {
    &:nth-child(1) {
      padding-right: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &:nth-child(2) {
      padding-left: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &:nth-child(3) {
      padding-top: 0.25rem;
      padding-right: 0.25rem;
    }
    &:nth-child(4) {
      padding-top: 0.25rem;
      padding-left: 0.25rem;
    }
  }
}

@mixin icon {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  z-index: 2;
  cursor: pointer;
}

.field-wrap {
  position: relative;
}

.image-field,
.image-section {
  height: 10rem;
}

.close {
  @include icon;
  top: 0%;
  right: -8%;
  background-image: url("/assets/images/close.png");
}

.section-title {
  @extend .post-input;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.text-section {
  @extend .font-1;
  @extend .post-input;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  resize: none;
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
}

.banner-wrap {
  @include main.flex(space-between, center);
  .text-section {
    height: 9.5rem;
  }
  .text-section,
  .section-title {
    @include main.flex(center, center, column);
    width: 100%;
    font-size: 0.75rem;
  }
  .image-section {
    height: 100%;
  }
  .banner-text-content,
  .image-section {
    width: 48.75%;
    height: 13rem;
  }
}

.field-reverse {
  flex-direction: row-reverse !important;
}

.arrangement {
  @include icon;
  top: 0%;
  right: -13.5%;
  background-image: url("/assets/images/arrangement.png");
}

.field-rating-wrap {
  @include main.flex(space-between, center);
  width: 100%;
  .field-rating-container {
    width: 49%;
    min-height: 20rem;
  }
  .rating-description-wrap {
    width: 49%;
    min-height: 22rem;
    .text-section {
      @extend .font-1;
      font-size: 0.8rem;
      margin-top: 0;
      box-sizing: border-box;
      min-height: 22rem;
    }
  }
  .rating-image {
    height: 15.5rem;
  }
  .rating-title {
    margin-top: 1rem;
    height: 3rem;
    .section-title {
      @extend .font-1;
      font-size: 0.8rem;
      height: 100%;
    }
  }
  .rating-wrap {
    &.mobile {
      max-width: 100%;
      display: none;
    }
    height: 3rem;
    ::ng-deep {
      .post-rating-wrap {
        margin-bottom: 0;
      }
    }
  }
}
/*
.field-rating-wrap {
  flex-direction: column;
}*/
.field-container {
  margin-bottom: 5%;
  .field-rating-container,
  .rating-title,
  .rating-description-wrap {
    width: 100%;
  }
  .rating-wrap.desktop {
    display: none;
  }
  .rating-wrap.mobile {
    display: block;
  }
}

.gallery-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  .gallery-image-wrap {
    width: 100%;
    height: 100%;
  }
  .wrap {
    @include main.flex(center, center);
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
  }
  .four-images {
    .gallery-image-wrap {
      width: 50%;
      height: 50%;
    }
  }
}

.four-images-wrap {
  flex-wrap: wrap;
  .gallery-image-wrap {
    width: 50% !important;
    height: 50% !important;
  }
}

.four-images-wrap {
  @include galleryFourImageWrap();
}

.one-big-four-wrap {
  .wrap:first-of-type {
    .gallery-image-wrap {
      padding-right: 0.5rem;
    }
  }
  .wrap:last-of-type {
    @include galleryFourImageWrap();
  }
}

.gallery-image-wrap {
  box-sizing: border-box;
}

.grid {
  @include icon;
  top: 0%;
  right: -19%;
  background-image: url("/assets/images/grid.png");
}

//**********************
@media only screen and (max-width: 1400px) {
  .add-new-post-container {
    .add-new-post-form {
      .field-rating-wrap .arrangement {
        top: 10%;
      }
      .arrangement {
        right: -8%;
        top: 25%;
      }
      .grid {
        right: -8%;
        top: 20%;
      }
      .field-gallery-wrap .arrangement {
        top: 10%;
      }
      .ratings-wrap {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .add-new-post-container {
    .add-new-post-form {
      .close,
      .grid {
        right: -13.5%;
      }
      .arrangement {
        right: -13.5%;
        top: 25%;
      }
      .field-rating-wrap .arrangement {
        top: 5%;
      }
      .one-big-four-wrap {
        .wrap:first-of-type {
          margin-bottom: 0.5rem;
          .gallery-image-wrap {
            padding-right: 0 !important;
          }
        }
      }
      .one-big-four-wrap.gallery-wrap {
        flex-direction: column;
        .wrap {
          width: 100%;
        }
      }
    }
  }
}
//*************************
