$purple: #150251;
$yellow: #feb93f;
$green: #84a347;
$red: #8f3742;
$bright_red: #eb4034;
$blue: #3b88ad;
$bright_yellow: #e6d81a;
$white: #fff;
$dark: #0E0E10;
$dark_grey: #1d1d1d;

@mixin flex($justify, $align, $direction: row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin fullSize{
    width: 100%;
    height: 100%;
}

@mixin mainButton(){
    color: $yellow;
    text-decoration: none;
    padding: 1rem 1.5rem;
    min-width: 15%;
    text-align: center;
    font-size: 1rem;
    background: transparent;
    border: 1px solid $yellow;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
        transition: background .3s;
        color: #000;
        background: $yellow;
    }
}

@mixin contrastButton(){
    @include mainButton();
    color: $white;
    background: $purple;
    border: 1px solid $purple;
    padding: .75rem 1.5rem;
    &:hover{
        background: darken($purple, 3%);
        color: $white;
    }
}

@mixin darkBackground {
    background-image: url('/assets/images/logo-transparent-black.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

@font-face {
    font-family: "Agency FB Bold Condensed";
    src: url("/assets/fonts/agencyfb-boldcondensed.ttf");
}

//***** FORM *****
.login-form, .register-form{
    margin-top: 5%;
    position: relative;
    .form-footer{
        margin-bottom: 5%;
        text-align: center;
    }
    ::ng-deep {
        .mat-focused .mat-form-field-label{
            transform: translateY(-3em) scale(0.75) perspective(100px) translateZ(0.001px);
        }
        .mat-form-field{
            margin: 1% 0;
            width: 100%;
            .mat-input-element {
                border: 1px solid $yellow;
                padding: 10px;
                color: $yellow;
                border-radius: 50px;
            }
            .mat-form-field-label-wrapper{
                top: -0.11em;
                left: 3em;
            }
            input{
                box-sizing: border-box;
                color: $white;
                border: none;
                background-repeat: no-repeat;
                background-position-x: 2.5%;
                background-position-y: center;
                &::placeholder{
                    color: $yellow;
                }
                &:not(.not-empty):focus{
                    transition: background-positon .3s;
                    animation: hideIcon .3s;
                    animation-fill-mode: forwards;
                }
            }
            .blurred{
                transition: background-positon .3s;
                animation: showIcon .3s;
                animation-fill-mode: forwards;
            }
            .not-empty{
                background-position-y: -999%;
                animation: none;
            }
            .not-empty + .mat-form-field-label-wrapper{
                display: none;
            }
            .mail-input{
                background-image: url("/assets/images/mail.png");
            }
            .password-input{
                background-image: url("/assets/images/password.png");
            }
            .nickname-input{
                background-image: url("/assets/images/nickname.png");
            }
            .mat-form-field-label {
                color: $yellow;
            }
            .mat-form-field-underline {
                display: none;
            }
            mat-error{
                text-align: center;
            }
        }
        .mat-form-field-appearance-legacy .mat-form-field-label{
            left: 3%;
        }
        .mat-raised-button {
            margin-top: 10%;
            background-color: $purple !important;
            color: $white !important
        }
        .mat-button-disabled {
            opacity: 0.3;
        }
    }
}

@keyframes hideIcon{
    from { background-position-y: center; }
    to { background-position-y: -999%; }
}

@keyframes showIcon{
    from { background-position-y: -999%; }
    to { background-position-y: center }
}

///*********