@use "/src/app/global/main.scss";

.field-container {
  @include main.flex(center, center);
  @include main.setSize(100%);
  .wrap {
    @include main.flex(space-between, center);
    @include main.setSize(50%);
    img {
      @include main.setSize(100%);
      display: block;
    }
  }
  .image-wrap {
    position: relative;
    cursor: pointer;
  }
  .big-image {
    .image-wrap {
      @include main.setSize(100%);
      margin-right: 0.25%;
    }
  }
  .four-images {
    flex-wrap: wrap;
    .image-wrap {
      @include main.setSize(50%, 50%);
      padding: 0.5%;
      box-sizing: border-box;
    }
  }
}

.alternative-variant {
  .four-images {
    width: 100%;
  }
}

.reverse {
  flex-direction: row-reverse;
  .big-image {
    margin-left: 0.25%;
  }
}

@media only screen and (max-width: 768px) {
  .field-container {
    flex-direction: column;
    .big-image {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .four-images {
      width: 100%;
      .image-wrap {
        &:nth-of-type(1) {
          padding: 1% 0.5% 0.5% 0;
        }
        &:nth-of-type(2) {
          padding: 1% 0 0.5% 0.5%;
        }
        &:nth-of-type(3) {
          padding: 0.5% 0.5% 0 0;
        }
        &:nth-of-type(4) {
          padding: 0.5% 0 0 0.5%;
        }
      }
    }
  }
}
