@use '/src/app/global/main.scss';

.category-list-element{
    @include main.flex(center, center);
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 3px;
    cursor: pointer;
    &::before{
        content: "";
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 20px 15px;
        border-color: transparent transparent main.$purple transparent;
    }
    &::after{
        @include main.flex(center, center);
        color: main.$white;
        font-size: 1rem;
        font-family: Roboto, sans-serif;
        content: "";
        position: absolute;
        bottom: -25%;
        left: 50%;
        transform: translate(-50%);
        background: main.$purple;
        width: 50%;
        height: 15%;
        border-radius: 3px;
    }
    &::before, &::after{
        opacity: 0;
        transition: opacity .1s;
    }
    &:hover{
        &::before, &::after{
            opacity: 1;
        }
    }
}

.choosed-category{
    &::before, &::after{
        opacity: 1;
    }
}

.film{
    background-image: url("/assets/images/film.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: main.$green;
    &::after{
        content: "Film";
    }
}
.serial{
    background-image: url("/assets/images/serial.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: main.$red;
    &::after{
        content: "Serial";
    }
}
.game{
    background-image: url("/assets/images/game.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: main.$blue;
    &::after{
        content: "Game";
    }
}
.music{
    background-image: url("/assets/images/music.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: main.$bright_yellow;
    &::after{
        content: "Music";
    }
}