<!-- HERO IMAGE-->
<app-hero-image [height]="heroImageHeight"
                [imageID]="imageID"
                [content]="false"
                [wave]="true"
                containerPosition="fixed"></app-hero-image>

<!-- CHOOSE CATEGORY-->
<div class="category-list-container"
     *ngIf="!choosed">
    <h1 class="category-header">
        Choose Category
        <span class="subtitle">of your post</span>
    </h1>
    <div class="category-list">
        <app-category-list-element *ngFor="let category of availableCategories"
                                   (choosedCategory)="updateCurrentChoosedCategory($event)"
                                   [categoryName]="category.name"></app-category-list-element>
    </div>
</div>

<!-- FORM -->
<app-add-new-post-form *ngIf="choosed"
                       (needPreview)="togglePreview($event)"
                       (previewedFields)="updateFieldsData($event)"
                       (thumbnailImage)="updateThumbnail($event)"
                       (postDate)="updateDate($event)"
                       (postTitle)="updateTitle($event)"
                       (postRatings)="updateRatings($event)"
                       [category]="choosedCategory"></app-add-new-post-form>

<!-- PREVIEW -->
<app-preview-post *ngIf="preview"
                  (close)="togglePreview($event)"
                  [title]="title"
                  [thumbnail]="thumbnail"
                  [date]="date"
                  [stars]="ratings"
                  [category]="choosedCategory"
                  [fields]="fields"></app-preview-post>