@use '/src/app/global/main.scss';

.category-list-container{
    @include main.flex(center, center, column);
    @include main.fullSize;
    @include main.darkBackground;
    position: fixed;
    padding-top: 2.5%;
    .category-list{
        @include main.flex(space-between, center);
        flex-wrap: wrap;
        width: 75%;
    }
    .button-container{
        @include main.flex(center, center);
        width: 100%;
        margin-top: 7.5%;
        .btn{
            @include main.mainButton;
            min-width: 10%;
            padding: 1% 2%;
            font-size: 1rem
        }
    }
}