@use '/src/app/global/main.scss';

.header{
    @include main.flex(space-between, center);
    max-width: 100%;
    height: 10rem;
    background: main.$purple;
    padding: .1% 5%;
    .logo{
        width: 5rem;
        img{
            @include main.fullSize();
        }
    }
    .menu{
        @include main.flex(flex-end, center);
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        .menu-link{
            padding: .75rem 1.5rem;
            letter-spacing: 2px;
            min-width: 15%;
            text-align: center;
            font-size: 1rem;
            margin: 0 2% 0 0;
            background: main.$yellow;
            cursor: pointer;
            &:hover{
                background: darken(main.$yellow, 3%)
            }
        }
    }
    .mobile-menu {
        display: none;
        position: relative;
        width: 50px;
        height: 50px;
        z-index: 99;
        transform: scale(1.5);
        cursor: pointer;
    
        .mobile-menu__cheeckbox {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;
            z-index: 2;
            -webkit-touch-callout: none;
            position: absolute;
            opacity: 0;
        }
        div {
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 22px;
            height: 12px;
        }
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: main.$yellow;
            border-radius: 1px;
            transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    
            &:first-of-type {
                top: 0;
            }
            &:last-of-type {
                bottom: 0;
            }
        }
        &.active,
        .mobile-menu__cheeckbox:checked + div {
            span {
                &:first-of-type {
                    transform: rotate(45deg);
                    top: 5px;
                }
                &:last-of-type {
                    transform: rotate(-45deg);
                    bottom: 5px;
                }
            }
        }
    
        &.active:hover span:first-of-type,
        &.active:hover span:last-of-type,
        &:hover .mobile-menu__cheeckbox:checked + div span:first-of-type,
        &:hover .mobile-menu__cheeckbox:checked + div span:last-of-type {
            width: 22px;
        }
    
        &:hover {
            // no need hover effect on mobile.
            @media (min-width: 1024px) {
                span:first-of-type {
                    width: 26px;
                }
    
                span:last-of-type {
                    width: 12px;
                }
            }
        }
    }
    
}

.overlayer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.mobile-offcanvas{
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: main.$purple;
    z-index: 3;
    transition: width 1s;
}

.open{
    animation: showOffcanvas .5s;
    animation-fill-mode: forwards;
}

.hide{
    animation: hideOffcanvas .5s;
    animation-fill-mode: forwards;
}

@keyframes showOffcanvas{
    from { width: 0%;}
    to { width: 90% }
}

@keyframes hideOffcanvas{
    from { width: 90%;}
    to { width: 0% }
}

@media only screen and (max-width: 992px){
    .mobile-menu{
        display: block !important;
    }
    .menu{
        display: none !important;
    }
}