<header class="header"
        (scroll)="changeHeaderBg()">

    <a routerLink="home">
        <div class="logo">
            <img src="/assets/images/logo.svg" />
        </div>
    </a>
    <app-menu></app-menu>
</header>

<!-- MOBILE MENU HAMBURGER -->
<div class="mobile-menu"
     (click)="mobileMenuToggle($event)">
    <input class="mobile-menu__cheeckbox"
           type="checkbox" />
    <div>
        <span></span>
        <span></span>
    </div>
</div>

<!-- MOBILE OFFCANVAS -->
<ng-container *ngIf="mobile">
    <div class="overlayer"
         *ngIf="offcanvasOpen"></div>
    <div class="mobile-offcanvas"
         [ngClass]="offcanvasOpen ? 'open' : 'hide'">
        <app-menu></app-menu>
    </div>
</ng-container>