<div class="hero-image">
    <div class="hero-image-overlayer"></div>
    <div class="hero-image-content">
        <h1 class="main-title">
            <span>REVICE</span>
            <span>thoughts on the works of pop culture.</span>
            <svg viewBox="0 0 750 50"
                 xmlns="http://www.w3.org/2000/svg">
                <text x="0"
                      y="40">without censorship.</text>
            </svg>
            <span></span>
        </h1>
        <div class="button-container">
            <div class="button-wrap">
                <a routerLink="new"
                   class="btn-link">
                    <button class="btn">View latest posts</button>
                </a>
            </div>
        </div>
    </div>
</div>