<div class="hero-image">
    <div class="hero-image-overlayer"></div>
    <div class="hero-image-content">
        <h1 class="main-title">
            <span>REVICE</span>
            <span>share your's thoughts on the</span>
            <span class="outline">works of culture.</span>
        </h1>
        <div class="button-container">
            <div class="button-wrap">
                <a routerLink="/latest"
                   class="btn-link">
                    <button class="btn">View latest posts</button>
                </a>
            </div>
        </div>
    </div>
</div>