<div class="overlayer"></div>
<div class="preview-post-wrap"
     [ngClass]="{'disabled-scroll' : scrollDisabled}">
  <div class="thumbnail">
    <div class="overlayer"></div>
    <img [src]="thumbnail" />
    <div class="post-info">
      <h1 class="post-title">
        <span>{{ title }}</span>
        <span class="post-year">({{ date }})</span>
      </h1>
      <div class="main-ratings-wrap">
        <app-rating [stars]="stars"
                    [editable]="false"></app-rating>
      </div>
    </div>
  </div>

  <!-- SLIDE SHOW -->
  <app-slide-show *ngIf="showSlideShow"
                  [images]="slideShowImages"></app-slide-show>

  <div class="fields-wrap">
    <div *ngFor="let field of fields"
         class="field"
         [ngClass]="[
        field.type,
        field.type === 'banner' && field.arrangement === 'text-image'
          ? 'banner-reverse'
          : '']">
      <!-- HEADING -->
      <ng-container *ngIf="field.type === 'heading'">
        <app-field-heading [heading]="field.title"></app-field-heading>
      </ng-container>

      <!-- IMAGE -->
      <ng-container *ngIf="field.type === 'image'">
        <app-field-image [image]="field.src"></app-field-image>
      </ng-container>

      <!-- TEXT -->
      <ng-container *ngIf="field.type === 'text'">
        <app-field-text [title]="field.title"
                        [value]="field.value"></app-field-text>
      </ng-container>

      <!-- BANNER -->
      <ng-container *ngIf="field.type === 'banner'">
        <app-field-banner [title]="field.title"
                          [isReverse]="getFieldArrangement(field.arrangement)"
                          [image]="field.src"
                          [value]="field.value"></app-field-banner>
      </ng-container>

      <!-- RATING -->
      <ng-container *ngIf="field.type === 'rating'">
        <app-field-rating [title]="field.title"
                          [isReverse]="getFieldArrangement(field.arrangement)"
                          [rating]="field.rating"
                          [image]="field.src"
                          [value]="field.value"></app-field-rating>
      </ng-container>

      <!-- GALLERY -->
      <ng-container *ngIf="field.type === 'gallery'">
        <app-field-gallery [images]="field.images"
                           [type]="field.galleryType"
                           [arrangement]="field.arrangement"></app-field-gallery>
      </ng-container>
    </div>
  </div>
</div>
<div class="close">
  <img (click)="closePreview()"
       src="/assets/images/close-big.png" />
</div>