@use "/src/app/global/main.scss";

.disabled-scroll {
  overflow: hidden !important;
}

.preview-post-wrap {
  @include main.customScroll(4px);
  @include main.setSize(80%, 90%);
  position: fixed;
  z-index: 14;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: main.$white;
  overflow: auto;
  .main-ratings-wrap {
    width: 50%;
    height: auto;
  }
  .tags-wrap {
    @include main.flex(flex-start, center);
    width: 40%;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  .thumbnail {
    @include main.setSize(100%, 50%, auto, auto, auto, auto);
    position: relative;
    .overlayer {
      @include main.setSize(100%, 100%);
      position: absolute;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
    }
    img {
      @include main.setSize(100%, 100%);
      object-fit: cover;
    }
  }
  .preview-category-wrap {
    position: absolute;
    min-width: 5%;
    right: 0%;
    z-index: 3;
    top: 0%;
    padding: 3rem;
    .serial {
      background-color: main.$red;
    }
    .movie {
      background-color: main.$green;
    }
    .game {
      background-color: main.$blue;
    }
    .music {
      background-color: main.$yellow;
    }
    .preview-category {
      @extend .font-1;
      display: block;
      width: 100%;
      border-radius: 4px;
      padding: 0.5rem 0.25rem;
      color: main.$white;
      font-size: 0.8rem;
      text-align: center;
    }
  }
  .post-info {
    @include main.flex(center, flex-start, column);
    @include main.setSize(65%);
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    margin: 1.5% 0 2.5% 0;
    ::ng-deep {
      .post-rating-wrap {
        margin-top: 2.5%;
        margin-bottom: 0;
      }
    }
  }
  .preview-rating {
    @include main.setSize(45%);
  }
  .star,
  .star-filled {
    @include main.setSize(40px);
  }
  .post-title {
    @include main.flex(flex-start, center);
    @extend .font-2;
    position: relative;
    color: main.$yellow;
    font-size: 5rem;
    text-align: left;
    margin: 1% 0;
    .post-year {
      @extend .font-3;
      font-size: 3rem;
      margin-left: 1rem;
    }
    &::after {
      @include main.setSize(4rem, 5%);
      position: absolute;
      content: "";
      bottom: -5%;
      background-color: main.$yellow;
      border-radius: 50px;
    }
  }
  .ratings-wrap {
    @include main.flex(flex-start, center);
    @include main.setSize(auto, auto, 100%);
    margin-top: 2.5%;
  }
  .fields-wrap {
    @include main.flex(center, flex-start, column);
    @include main.setSize(100%);
    color: main.$white;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin-top: 2.5%;
    .heading {
      @include main.setSize(100%, auto, none, none, 0, auto);
    }
    .image {
      @include main.setSize(100%, 25rem, none, none, 0, auto);
    }
    p,
    .wrap {
      @include main.setSize(75%);
      color: main.$near_black;
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
      line-height: 1.6rem;
      .text-field-header {
        @extend .font-2;
        display: block;
        padding-bottom: 1.5rem;
        color: main.$yellow;
        font-size: 3rem;
      }
    }
    .rating {
      @include main.setSize(100%);
    }
    .banner {
      @include main.flex(space-between, center);
      @include main.setSize(100%);
      .text-field-header {
        line-height: 3rem;
      }
      p,
      img {
        @include main.setSize(50%);
      }
      p {
        margin-left: 2.5%;
        margin-right: 0;
      }
      img {
        @include main.setSize(auto, 100%);
        object-fit: cover;
        margin-right: 2.5%;
        margin-left: 0;
      }
    }
    .banner-reverse {
      @include main.flex(space-between, center, row-reverse);
      p {
        margin-right: 2.5%;
        margin-left: 0;
      }
      img {
        margin-left: 2.5%;
        margin-right: 0;
      }
    }
  }
  .field {
    margin: 1.5% 0;
  }
}

.close {
  position: fixed;
  top: 5%;
  right: 1.5%;
  z-index: 14;
  cursor: pointer;
}

.overlayer {
  @include main.setSize(100vw, 100vh);
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1200px) {
  .preview-post-wrap {
    @include main.setSize(100%, 100%);
    .preview-category-wrap {
      bottom: 0;
      top: auto;
    }
    .fields-wrap {
      .banner {
        @include main.flex(center, center, column);
        p,
        img {
          @include main.setSize(100%);
        }
        p,
        img {
          margin-left: 0;
          margin-right: 0;
        }
        p {
          margin: 1rem 0;
        }
      }
      .banner-reverse {
        @include main.flex(space-between, center, column-reverse);
        p,
        img {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .preview-post-wrap .thumbnail {
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    .main-ratings-wrap {
      margin-top: 1rem;
    }
    .post-info {
      @include main.setSize(100%);
      position: relative;
      left: 0;
      align-items: center;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .preview-post-wrap {
    @include main.setSize(100%, 100%);
    .post-info,
    .fields-wrap {
      @include main.setSize(100%);
    }
  }
  .close {
    top: 1.5%;
    right: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .preview-post-wrap {
    .post-title {
      flex-direction: column;
    }
  }
  .close {
    top: 1.5%;
    right: 3%;
  }
}
