<div class="overlayer"></div>
<div class="preview-post-wrap">
    <div class="thumbnail">
        <img [src]="thumbnail" />
    </div>
    <div class="post-info">
        <h1 class="post-title">
            <span>{{title}}</span>
        </h1>
        <div class="ratings-wrap">
            <div class="star no-cursor"
                 [ngClass]="{'star-half': star.half, 'star-filled': star.filled}"
                 *ngFor="let star of stars">
            </div>
        </div>
    </div>
    <div class="fields-wrap">
        <div *ngFor="let field of fields"
             class="field"
             [ngClass]="[field.type, field.type === 'banner' && field.arrangement === 'text-image' ? 'banner-reverse' : '']">
            <img *ngIf="field.src"
                 [src]="field.src" />
            <p *ngIf="field.value">
                <span class="text-field-header">{{field.title}}</span>
                {{field.value}}
            </p>
            <div class="image-wrap"
                 *ngIf="field.src"></div>
        </div>
    </div>
</div>
<div class="close">
    <img (click)="closePreview()"
         src="/assets/images/close-big.png" />
</div>