<div class="filter-year-container">
    <div class="filter-year-wrap">
        <div class="range-slider">
            <span class="range-slider-topbar">
                <span class="range-slider-text">from</span>
                <input type="number"
                       value="1500"
                       class="min-val year-filter-input"
                       min="0"
                       [max]="year"
                       (input)="updateRange()"
                       step="1">
                <span class="range-slider-text">to</span>
                <input type="number"
                       class="max-val year-filter-input"
                       [value]="year"
                       (input)="updateRange()"
                       min="0"
                       [max]="year"
                       step="1">
            </span>

            <input [attr.value]="'1500'"
                   min="1"
                   [max]="year"
                   class="first-range"
                   (input)="changeRange()"
                   step="1"
                   type="range">

            <input [attr.value]="year"
                   min="1"
                   [max]="year"
                   class="second-range"
                   (input)="changeRange()"
                   step="1"
                   type="range">

            <svg width="100%"
                 height="24">
                <line x1="4"
                      y1="0"
                      x2="480"
                      y2="0"
                      stroke="#444"
                      stroke-width="12"
                      stroke-dasharray="1 28">
                </line>
            </svg>
        </div>
        <div class="seperator"></div>
        <div class="specific-year-wrap">
            <span class="range-slider-text">Enter a specific year</span>
            <input class="filter-year year-filter-input filter-year-number"
                   (change)="enterSpecificYear($event.target.value)"
                   type="number"
                   min="1"
                   [value]="yearRange"
                   [max]="year" />
        </div>
    </div>
</div>