@use "/src/app/global/main.scss";
.specific-year-wrap {
  @include main.flex(center, center, column);
  @include main.setSize(100%);
  .year-filter-input {
    @include main.setSize(27.5%);
  }
  .range-slider-text {
    font-size: 1rem;
    margin-bottom: 1%;
  }
}
.specific-year-wrap {
  @include main.flex(center, center, column);
  .year-filter-input {
    @include main.setSize(27.5%);
  }
}
.range-slider-text {
  color: main.$yellow;
  font-weight: bold;
}
.filter-year-wrap {
  @include main.flex(flex-start, center, column);
  @include main.setSize(100%);
  margin-bottom: 3%;
}
.filter-year-container {
  @include main.flex(center, center, column);
  @include main.setSize(100%);
  margin: 0 auto;
}
.filter-year-range-data {
  @include main.flex(space-between, center);
  @extend .font-1;
  @include main.setSize(50%);
  color: main.$yellow;
  font-size: 0.8rem;
}
.filter-year-number {
  @include main.setSize(50%);
  margin-top: 2.5%;
  text-align: center;
  margin-top: 2.5%;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
.seperator {
  @include main.setSize(2px, 4rem);
  background-color: main.$yellow;
  margin: 0 5%;
  border-radius: 50px;
}
.year-filter-input {
  @include main.setSize(20%);
  text-align: center;
  border: 1px solid main.$yellow;
  border-radius: 50px;
  color: main.$yellow;
  background-color: transparent;
  outline: none;
  padding: 0.5rem 1rem;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::placeholder {
    color: main.$yellow;
  }
}

.range-slider {
  @include main.setSize(55%, 4rem);
  /* Match this to the SVG's x2 value */
  text-align: center;
  position: relative;
}
.range-slider-topbar {
  @include main.flex(space-around, center);
  margin-bottom: 20%;
}
.range-slider-bottombar {
  position: relative;
}
.range-slider svg,
.range-slider input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
}
input[type="range"] {
  @include main.setSize(100%);
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: main.$yellow;
}
input[type="range"]:focus::-ms-fill-lower {
  background: main.$yellow;
}
input[type="range"]:focus::-ms-fill-upper {
  background: main.$yellow;
}
input[type="range"]::-webkit-slider-runnable-track {
  @include main.setSize(100%, 5px);
  cursor: pointer;
  background: main.$yellow;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-webkit-slider-thumb {
  @include main.setSize(18px, 18px);
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid main.$purple;
  background: main.$purple;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]::-moz-range-track {
  @include main.setSize(100%, 5px);
  cursor: pointer;
  background: main.$yellow;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  @include main.setSize(18px, 18px);
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid main.$purple;
  background: main.$purple;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  @include main.setSize(100%, 5px);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: main.$yellow;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-ms-thumb {
  @include main.setSize(18px, 18px);
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid main.$purple;
  background: main.$purple;
  cursor: pointer;
}

.chooseDateModeToggle {
  @include main.contrastButton();
  transition: margin 0.3s;
}
.btnSmallerMargin {
  margin-top: 5%;
}
.btnBiggerMargin {
  margin-top: 10%;
}

@media only screen and (max-width: 1000px) {
  .btnBiggerMargin {
    margin-top: 15%;
  }
  .btnSmallerMargin {
    margin-top: 10%;
  }
}
