@use "/src/app/global/main.scss";

.disable-editing-wrap {
  @include main.setSize(100%, 100%);
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
}
.stars {
  position: relative;
  cursor: pointer;
  display: flex;

  &:hover {
    .star polygon {
      fill: main.$yellow !important;
    }
  }

  .star {
    polygon {
      transition: fill 0.3s;
      fill: #d8d8d8;
    }

    &:hover ~ .star {
      polygon {
        fill: #d8d8d8 !important;
      }
    }
  }

  .starAnimate {
    animation: chooseStar 0.3s;
    animation-fill-mode: forwards;
  }

  &[data-stars] {
    .star.filled polygon {
      fill: main.$yellow;
    }
  }

  &[data-stars="1"] {
    .star:nth-child(1) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="2"] {
    .star:nth-child(2) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="3"] {
    .star:nth-child(3) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="4"] {
    .star:nth-child(4) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="5"] {
    .star:nth-child(5) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="6"] {
    .star:nth-child(6) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="7"] {
    .star:nth-child(7) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="8"] {
    .star:nth-child(8) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="9"] {
    .star:nth-child(9) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="10"] {
    .star:nth-child(10) ~ .star polygon {
      fill: #d8d8d8;
    }
  }
}

@keyframes chooseStar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
