<div class="stars"
     data-stars="1">
     <div class="disable-editing-wrap"
          *ngIf="!editable"></div>
     <svg *ngFor="let star of stars"
          [attr.viewBox]="viewBoxData"
          class="star rating"
          [attr.data-id]="star.id"
          [ngClass]="{'no-cursor': !editable, 'filled': star.filled}"
          (click)="chooseRating($event)"
          [attr.data-rating]="star.id + 1">
          <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"
                   style="fill-rule:nonzero;" />
     </svg>
</div>